.jumbotron {
    background-image: url(image/jawa.jpg);
    background-size: cover;
    height: 640px;
    margin-top: -100px;
}

.jumbotron .display-4{
    text-align: right;
    font-size: 20px;
    padding-top: 200px;
    margin-top :-150px;
}

.jumbotron h1{
    text-align: right;
    color: red;
    letter-spacing: 6px;
    
}

.jumbotron p {
        text-indent: 30px;
        text-align: right;
       color: snow;
      
}



.nav-link{
    text-transform: uppercase;
    margin-right: 20px
}

.container .clearfix{
    padding-top: 100px;
    padding-bottom: 100px;
}

.clearfix {
    overflow: auto;
    padding-bottom: 50px;
   
  }
  
  .img2 {
    float: right;
  }

  .img1{
    float: left;
  }

  .clearfix-two{
      overflow: auto;
      padding-bottom: 50px;
      text-align: right;
  }
 
 
  .row .card:hover{
     box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
     transform :scale(1,01);
     
 }

  .container-fluid {
    padding: 70px;
    margin-top: 70px;

  }  
   

    
    
/* desktop version */

    